<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>dhnksahfdhasfkjgbh</h1>
    <p><%= 5+4 %></p>
    <h3><%= 'hello world'.toLowerCase() %></h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo labore earum voluptas provident, dignissimos vero cum perspiciatis esse nam quaerat aliquid odio nulla doloremque deleniti impedit? Veritatis odio voluptas labore.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime amet voluptate fuga, illum voluptatum ex fugiat neque repellat suscipit qui pariatur accusamus ipsam id nulla at dignissimos blanditiis. Consectetur, blanditiis?</p>
</body>
</html>